<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('templates/style')-%>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
  </head>
  <body>
    <%-include('templates/header')-%> <%-include('templates/sidebar')-%>
    <main>
      <h1>Blogs</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus
        distinctio, deserunt vero dolorem vel necessitatibus nobis, rerum
        assumenda praesentium id provident repellendus, suscipit exercitationem
        dignissimos eveniet autem accusantium numquam adipisci? Officia et sint
        totam id velit laudantium quam facere praesentium ex asperiores
        laboriosam, voluptates iure porro culpa similique suscipit? Nisi
        praesentium accusantium atque adipisci cumque? Id odio quidem quisquam
        eius itaque accusantium, velit beatae non iure cum fugiat. Quo,
        praesentium? Pariatur dolore aliquam officiis? Quisquam quia maiores
        vero quaerat explicabo, necessitatibus doloribus nulla fuga nobis
        aspernatur velit porro enim reiciendis quos amet, totam ipsum fugiat
        laborum! Magni adipisci rerum magnam est inventore quaerat eaque
        repellendus id? Nobis, maiores qui totam ipsa eligendi sint illum eos
        tenetur accusamus? Consectetur ratione laborum quos commodi, minima modi
        facilis, amet ab, inventore dolor molestias dolore voluptatibus nobis
        incidunt dolorem ut impedit itaque hic? Perspiciatis ipsum excepturi
        vitae labore eos nam animi molestiae hic qui est, nesciunt, placeat
        aperiam ut atque quam illum cumque temporibus aspernatur commodi
        accusantium deserunt libero eveniet architecto! Quas velit, modi
        obcaecati animi, voluptates ab sapiente aperiam sed qui expedita beatae
        rem veritatis explicabo voluptas cupiditate nulla quasi tempore vero in
        minus. Corrupti nesciunt, minus dicta voluptatem quae quam illum hic
        fugiat obcaecati amet enim vitae beatae ullam temporibus tenetur ratione
        dolores magni dolor exercitationem rerum quis a. Provident perferendis
        quasi, a animi dolorem dicta, voluptatum esse autem architecto
        blanditiis deleniti accusantium! Magnam iure culpa fugit hic ea et
        minima? Suscipit officiis possimus harum voluptas ratione a, at quasi
        accusamus doloremque sapiente quae. Autem perspiciatis, totam amet fuga,
        beatae maxime neque sunt, doloribus quae vel perferendis nisi culpa. Sed
        facilis quo laborum, quam assumenda expedita soluta adipisci porro cum
        autem iure id suscipit repudiandae sequi ullam velit voluptate eveniet
        ipsam sit atque rem vero dolorum! Saepe error at similique repellendus
        quibusdam a tenetur officiis sint laborum officia nostrum facilis
        suscipit est culpa laudantium reiciendis, pariatur corrupti porro omnis,
        ullam aliquid? Sit et itaque at magni corrupti perferendis obcaecati
        delectus, est enim eius error quos aperiam rerum similique beatae vel
        exercitationem possimus, nobis ullam praesentium neque repellat! Unde
        quibusdam aliquid alias harum iusto atque reiciendis laudantium animi
        corporis adipisci dolores magnam aut ab eius, pariatur, dolorem tempora
        neque nemo explicabo obcaecati! Ex odio ipsum quam in eaque natus
        suscipit sequi minima laborum maxime obcaecati reiciendis non molestiae
        dicta sed, fugiat doloremque. Ab, nulla ut. Labore sit harum non
        distinctio quasi! Quam dignissimos reiciendis facilis nulla pariatur
        harum dolor quae incidunt, officiis quibusdam beatae possimus expedita
        labore aut suscipit! Inventore, alias, repudiandae ipsum dolorum
        laudantium sit quam, magnam architecto culpa corrupti tempore? At
        placeat autem laudantium distinctio eligendi laborum saepe ab dolorum et
        nisi non illo consectetur adipisci facere, cupiditate quis odio aliquam
        ad obcaecati velit expedita nihil? Modi sit ratione, rem dolores
        adipisci tenetur eum quibusdam neque eos iusto, similique ad animi velit
        quaerat labore magni aut delectus necessitatibus laboriosam laudantium?
        Cum non ducimus tenetur porro, deserunt dolorum enim excepturi
        laudantium. Maiores tempora voluptates accusamus magni autem ex
        repudiandae vel commodi adipisci nobis laudantium debitis ad nihil,
        alias aliquam quas aliquid. Molestias in totam error quia non qui. Nemo
        sit accusantium sapiente perferendis minima praesentium, amet inventore
        omnis ex beatae eaque assumenda quos laborum suscipit velit a commodi!
        Debitis placeat itaque, eos sed excepturi ut odio illo in, quo
        aspernatur suscipit quae voluptatem laudantium nesciunt inventore, neque
        unde alias perspiciatis ducimus qui ipsum? Distinctio, iure cum odio
        quibusdam fugiat praesentium repellat est labore sequi quod a quia enim
        facilis ullam? Exercitationem, voluptas, sequi rerum quam nobis dolore
        molestias voluptate quod porro eligendi impedit, necessitatibus
        aspernatur iure suscipit culpa reprehenderit perspiciatis. Soluta,
        explicabo.
      </p>
    </main>
    <%-include('templates/header')-%>
  </body>
</html>
