<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts</title>
  </head>
  <body>
    <%-include('templates/header')-%>
    <main>
      <h1>Contacts</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt,
        reprehenderit animi neque cumque nesciunt sint ratione iusto
        praesentium, adipisci voluptas fugiat facere quo quis officiis impedit,
        est ut quisquam atque?
      </p>
    </main>
    <%-include('templates/footer')-%>
  </body>
</html>
