<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('templates/style')-%>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%-include('templates/header')-%> <%-include('templates/sidebar')-%>
    <main>
      <h1>Its Home page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iste
        voluptate excepturi amet sequi vitae blanditiis alias error consectetur
        distinctio. In soluta fuga atque sunt quas, eum eligendi facere
        distinctio quidem labore quae aliquid possimus obcaecati ducimus cum
        veritatis fugit ex repudiandae dolor vel velit. Eos, commodi amet
        voluptatem dolor dicta ab nisi aliquid vitae libero officiis quam
        suscipit eligendi corporis eum id! Consequatur magni soluta iste fuga
        natus! Inventore, deleniti cum! Neque minima nostrum tempore libero
        perferendis placeat reiciendis enim. Soluta iusto illo ducimus nemo,
        minus dolore voluptatem laborum alias. Illo, itaque deleniti hic neque
        enim suscipit quam dolorum doloremque ipsa eligendi, nobis similique ut
        quos mollitia eveniet! Qui consectetur, iusto consequuntur suscipit
        laboriosam alias provident iure praesentium id odit ipsa fugit soluta
        beatae minus voluptates sequi ex officiis nesciunt iste impedit
        delectus? Provident exercitationem impedit consequuntur. Officia
        aspernatur fugit suscipit necessitatibus assumenda perspiciatis quidem
        error inventore harum numquam voluptate doloribus quos ducimus
        voluptatem saepe, minima quod! Dicta perspiciatis fugit mollitia, sequi
        iste exercitationem architecto tempore aliquam nemo laborum saepe
        molestiae temporibus sit ipsa sed debitis sapiente in at natus expedita
        harum, nobis quae? Amet cumque ipsam consectetur accusantium maiores
        aspernatur harum quod quia, expedita vel quis neque fugiat officia ad
        laudantium iure, voluptatem repudiandae provident. Harum odit impedit,
        alias dolorem error eos adipisci qui quae repellat dolorum quos ipsa.
        Porro corporis est consectetur itaque! Numquam iusto provident quasi
        nobis similique autem corporis cumque fugit obcaecati, debitis eligendi
        assumenda, placeat alias aliquid suscipit? Asperiores labore, ut
        deleniti reiciendis dolorum aperiam eligendi laboriosam dicta eos maxime
        nulla magni tempore ducimus dolore ex perspiciatis recusandae, unde, quo
        veritatis nemo aspernatur. Rem quaerat earum qui ratione quia quod
        numquam architecto rerum beatae ut reiciendis amet ab, impedit id iste
        aperiam maxime voluptates sequi dignissimos accusamus tenetur. Corporis
        ex doloribus voluptatum dolore, quis perspiciatis, quos voluptatibus
        quidem accusantium cupiditate inventore corrupti! Harum esse molestiae
        magnam, unde hic mollitia alias eius modi, repellendus est tempore
        necessitatibus officiis! Dolores, nulla quam eveniet iste exercitationem
        in amet sunt quos neque mollitia aut aspernatur tenetur ipsa! Facilis
        quaerat mollitia iste delectus maxime, voluptate accusantium dolorem
        nulla fugit deleniti illo qui ullam ad ipsa fugiat animi, magni cum
        soluta suscipit corporis eos laborum non quia. Eligendi laboriosam
        molestias repellat dolores libero odio corporis, provident ea placeat
        non rerum quibusdam magnam, sit praesentium beatae quasi doloremque
        quaerat natus quis mollitia. Dolorum quidem debitis recusandae
        repellendus natus temporibus amet voluptas aspernatur dolores nesciunt?
        Animi aut, autem cumque ullam aliquid reiciendis maiores deserunt
        dignissimos dolor, culpa vero ipsam eos unde repellat architecto
        inventore soluta veritatis molestiae ad. Est ipsa modi pariatur eius
        dolores vitae dicta cum officiis, ipsum deserunt ad. Vitae mollitia
        adipisci aperiam dolorum minima hic totam incidunt omnis. Vitae fuga
        dolorem pariatur ex quae fugit dicta, a molestias aperiam eius quia, nam
        nobis facilis commodi saepe, nostrum reiciendis veniam? Odio iusto quo
        vel doloribus sunt ducimus itaque dignissimos illo velit, omnis sapiente
        fugiat quae, obcaecati nam eveniet? Velit ullam totam cumque,
        necessitatibus fugiat aliquid dolor quo modi nulla possimus, expedita
        cum facilis quibusdam blanditiis soluta nemo corrupti provident hic
        sunt, repellendus incidunt? At vero perspiciatis sunt aspernatur. Nemo
        Delectus, quisquam architecto? Cumque ducimus placeat accusantium
        commodi maxime quisquam ex ipsam vitae nemo voluptatem. Iste ipsa
        distinctio est consequuntur, soluta quaerat culpa beatae maiores
        mollitia aut eos suscipit veritatis obcaecati incidunt possimus rem
        magni sunt! Esse mollitia doloremque hic laudantium veniam inventore
        fugit veritatis adipisci est facilis totam voluptates magnam
        necessitatibus explicabo quidem culpa at neque molestiae saepe, nobis
        eius quos amet velit tempore! Modi tenetur saepe architecto repellat,
        officiis est officia.
      </p>
    </main>
    <%-include('templates/footer')-%>
  </body>
</html>
