<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <%-include('templates/header')-%>
    <main>
      <h1>Its Home page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident iste
        voluptate excepturi amet sequi vitae blanditiis alias error consectetur
        distinctio. In soluta fuga atque sunt quas, eum eligendi facere
        distinctio quidem labore quae aliquid possimus obcaecati ducimus cum
        veritatis fugit ex repudiandae dolor vel velit. Eos, commodi amet
        voluptatem dolor dicta ab nisi aliquid vitae libero officiis quam
        suscipit eligendi corporis eum id! Consequatur magni soluta iste fuga
        natus! Inventore, deleniti cum! Neque minima nostrum tempore libero
        perferendis placeat reiciendis enim. Soluta iusto illo ducimus nemo,
        minus dolore voluptatem laborum alias. Illo, itaque deleniti hic neque
        enim suscipit quam dolorum doloremque ipsa eligendi, nobis similique ut
        quos mollitia eveniet! Qui consectetur, iusto consequuntur suscipit
        laboriosam alias provident iure praesentium id odit ipsa fugit soluta
        beatae minus voluptates sequi ex officiis nesciunt iste impedit
        delectus? Provident exercitationem impedit consequuntur. Officia
        aspernatur fugit suscipit necessitatibus assumenda perspiciatis quidem
        error inventore harum numquam voluptate doloribus quos ducimus
        voluptatem saepe, minima quod! Dicta perspiciatis fugit mollitia, sequi
        iste exercitationem architecto tempore aliquam nemo laborum saepe
        molestiae temporibus sit ipsa sed debitis sapiente in at natus expedita
        harum, nobis quae? Amet cumque ipsam consectetur accusantium maiores
        aspernatur harum quod quia, expedita vel quis neque fugiat officia ad
        laudantium iure, voluptatem repudiandae provident. Harum odit impedit,
        alias dolorem error eos adipisci qui quae repellat dolorum quos ipsa.
        Porro corporis est consectetur itaque! Numquam iusto provident quasi
        nobis similique autem corporis cumque fugit obcaecati, debitis eligendi
        assumenda, placeat alias aliquid suscipit? Asperiores labore, ut
        deleniti reiciendis dolorum aperiam eligendi laboriosam dicta eos maxime
        nulla magni tempore ducimus dolore ex perspiciatis recusandae, unde, quo
        veritatis nemo aspernatur. Rem quaerat earum qui ratione quia quod
        numquam architecto rerum beatae ut reiciendis amet ab, impedit id iste
        aperiam maxime voluptates sequi dignissimos accusamus tenetur. Corporis
        ex doloribus voluptatum dolore, quis perspiciatis, quos voluptatibus
        quidem accusantium cupiditate inventore corrupti! Harum esse molestiae
        magnam, unde hic mollitia alias eius modi, repellendus est tempore
        necessitatibus officiis! Dolores, nulla quam eveniet iste exercitationem
        in amet sunt quos neque mollitia aut aspernatur tenetur ipsa! Facilis
        quaerat mollitia iste delectus maxime, voluptate accusantium dolorem
        nulla fugit deleniti illo qui ullam ad ipsa fugiat animi, magni cum
        soluta suscipit corporis eos laborum non quia. Eligendi laboriosam
        molestias repellat dolores libero odio corporis, provident ea placeat
        non rerum quibusdam magnam, sit praesentium beatae quasi doloremque
        quaerat natus quis mollitia. Dolorum quidem debitis recusandae
        repellendus natus temporibus amet voluptas aspernatur dolores nesciunt?
        Animi aut, autem cumque ullam aliquid reiciendis maiores deserunt
        dignissimos dolor, culpa vero ipsam eos unde repellat architecto
        inventore soluta veritatis molestiae ad. Est ipsa modi pariatur eius
        dolores vitae dicta cum officiis, ipsum deserunt ad. Vitae mollitia
        adipisci aperiam dolorum minima hic totam incidunt omnis. Vitae fuga
        dolorem pariatur ex quae fugit dicta, a molestias aperiam eius quia, nam
        nobis facilis commodi saepe, nostrum reiciendis veniam? Odio iusto quo
        vel doloribus sunt ducimus itaque dignissimos illo velit, omnis sapiente
        fugiat quae, obcaecati nam eveniet? Velit ullam totam cumque,
        necessitatibus fugiat aliquid dolor quo modi nulla possimus, expedita
        cum facilis quibusdam blanditiis soluta nemo corrupti provident hic
        sunt, repellendus incidunt? At vero perspiciatis sunt aspernatur. Nemo
        mollitia autem reprehenderit. Esse nam minus quas perferendis impedit
        voluptatibus sunt eveniet, nostrum minima dolores perspiciatis ducimus
        animi eum quae praesentium nisi est corrupti quis ab mollitia
        accusantium tempora ex. Explicabo eos consequuntur tenetur adipisci
        voluptas nihil pariatur. Sequi aut itaque necessitatibus magnam. Beatae
        sapiente accusantium, consectetur odit possimus, consequatur at
        blanditiis eius distinctio alias exercitationem eaque facilis eos ab id
        commodi harum? Nam mollitia assumenda in nulla earum dolore commodi
        laboriosam impedit culpa quae aliquid a, facere corrupti voluptatibus,
        eaque libero fuga, cum doloribus incidunt eligendi molestiae voluptatum
        animi non? Nemo enim assumenda voluptatum facere accusamus. Ut fugiat
        praesentium, qui fugit ipsam et mollitia obcaecati repellendus
        voluptatum perspiciatis dolor molestias fuga atque recusandae corrupti
        minus neque consequatur a reiciendis quidem eos dicta! Illo recusandae
        deserunt iusto nostrum consequatur itaque impedit quos aliquam
        necessitatibus? Repellendus, quia nobis, ut dolore saepe ad at quaerat
        sint voluptatibus recusandae et molestias consequatur. Sunt, ullam
        deserunt? Error nostrum tenetur blanditiis voluptate deleniti excepturi
        ab in totam accusamus. Corporis quam, tenetur repudiandae saepe autem
        quas voluptatem, optio, ut fuga animi dolores. Quos a adipisci totam.
        Quasi possimus, voluptatem exercitationem ipsam vero aspernatur hic
        dolore odio itaque ipsa quo accusamus quisquam dolor natus nisi porro,
        necessitatibus, accusantium sit vel unde tempore et commodi culpa
        aliquid. Omnis beatae saepe ipsa harum commodi accusantium suscipit,
        dicta molestiae laudantium repudiandae repellat asperiores minus totam
        iste quaerat voluptatibus voluptatem veniam assumenda labore, eveniet
        facere. Iure excepturi ducimus ex vero quasi dolor quidem, incidunt quam
        consequatur nisi, consectetur soluta necessitatibus at qui eos pariatur
        quis esse quos iste beatae ad error amet animi explicabo! Cumque
        sapiente dolorem iste minus distinctio autem perferendis totam vel alias
        tenetur ab praesentium repellat illo, dolore, hic consequuntur, fugiat
        cum? Voluptatum quaerat dolorum dolore tempore magnam eum facere unde
        labore aliquam accusamus animi voluptatibus maxime provident at
        doloribus non, esse magni ad est illum! Deserunt a atque consectetur.
        Deleniti ea dolorum earum, quos nam vero architecto sed exercitationem
        optio quam, cum saepe. Perferendis animi ipsam fuga modi a dolores
        minima esse? Natus quibusdam ducimus, quo sint numquam earum? Delectus
        dolore dolor ipsam cum. Accusamus minus vel officiis neque cum omnis
        assumenda non quia esse nostrum sequi inventore nihil obcaecati nesciunt
        asperiores aliquid, rerum, cupiditate ipsum odit sunt voluptates
        pariatur perferendis. Saepe molestiae obcaecati, rem vel porro quia
        possimus ullam. Velit voluptatibus fugiat corporis? Deleniti a
        consectetur nesciunt dolores sunt, voluptate nulla accusamus aut
        voluptatibus illum magni libero odio quasi sint veritatis ipsum.
        Molestiae eum error optio consequuntur id delectus, nihil, culpa eveniet
        tempora magnam et, quam incidunt debitis! Quam eligendi pariatur, nam
        ipsam rem commodi quos, minus vero soluta doloribus iure a dignissimos
        recusandae praesentium voluptatibus sequi harum suscipit dolore? Iure
        fugit sed eum officiis, nemo temporibus impedit rem eos soluta quasi
        alias repudiandae natus quas id qui ad rerum laboriosam ab commodi
        aliquid reprehenderit. Perferendis, ducimus! Iure, amet distinctio
        aliquam sunt, a expedita corrupti nihil officia fugiat molestias
        similique magnam odio. Molestias ex suscipit rem ducimus incidunt, nisi
        eveniet aliquam adipisci dolore accusantium ad debitis voluptatibus odio
        sapiente sed provident perferendis, maiores at? Beatae officiis, dolore
        laborum cumque expedita asperiores commodi ea aut accusantium, pariatur
        ipsa voluptate perspiciatis, voluptatem veritatis aliquid error illo
        impedit aspernatur nobis eaque fugiat excepturi quaerat quidem! Fuga
        doloribus beatae adipisci ipsum distinctio aspernatur facere eius nisi
        placeat quis ipsam, reprehenderit magnam, nemo laudantium, officia animi
        modi? Reprehenderit ipsum nulla dolorem totam deserunt alias ducimus
        provident maxime soluta. Non earum consequuntur odit nam dignissimos
        perspiciatis nemo maiores praesentium numquam ea temporibus aperiam
        nulla quisquam atque provident voluptatibus, ipsa ipsum vero?
        Necessitatibus possimus id quae cumque quisquam eos exercitationem
        tenetur voluptatibus, eaque assumenda quibusdam voluptas sit illo,
        inventore non enim blanditiis! Exercitationem deserunt odio consequatur
        culpa totam. Ducimus officiis exercitationem facere est soluta
        architecto numquam officia dolorem facilis, asperiores dolores!
        Voluptate facere inventore beatae. Velit minima cupiditate architecto.
        Ducimus similique cupiditate asperiores adipisci autem repellendus, rem
        fugit quisquam necessitatibus eligendi qui ipsa at, quibusdam hic
        laudantium harum tempore inventore sunt voluptates assumenda beatae
        tempora cum magnam? Voluptatem quas fugit dicta libero quos saepe
        laboriosam porro inventore voluptate maiores optio voluptas ipsam
        dolores officia repellendus repellat, dolore alias, labore quasi, est
        magni quam? Voluptas officiis quidem soluta! Dolorem fugiat
        consequuntur, tempore voluptates nam molestias provident a quos neque
        vitae vel numquam autem officia ad aut facilis optio porro sunt minima
        animi molestiae quisquam omnis repudiandae. Adipisci magnam reiciendis
        aliquam aut, officiis et molestiae enim. Fugit, voluptas ea. Quod odit
        in similique harum? Harum blanditiis dicta numquam dolorem earum eveniet
        explicabo doloremque quod nemo. Perferendis distinctio impedit natus cum
        exercitationem perspiciatis aut nobis officiis dicta eligendi laborum
        pariatur maxime ut, dolore in veniam soluta libero at porro, alias ad
        tenetur. Dicta consectetur voluptates, provident sequi magni officiis
        culpa assumenda adipisci aspernatur nesciunt modi repellendus corporis
        tempora ratione distinctio tenetur expedita odio, quos at porro
        asperiores est optio. Provident, nam reprehenderit. Similique voluptatem
        praesentium ducimus laudantium molestiae mollitia fugit, sit commodi est
        velit rem repellat, quo enim maiores atque quaerat rerum vero? Ratione
        ex, unde quaerat omnis harum officia aliquam sapiente explicabo dolores
        voluptates, ducimus debitis assumenda nihil ad. Ex quia non soluta iste
        eos dicta totam architecto enim nostrum voluptas odio aut nesciunt,
        autem error, dignissimos impedit sed est laboriosam culpa mollitia
        exercitationem nihil perspiciatis omnis? Aut adipisci reiciendis
        voluptatem quod aliquid? Ratione deserunt dolorem totam? Labore
        veritatis blanditiis sunt ipsa quisquam facilis neque quibusdam
        accusamus explicabo itaque dolor odio cum nisi, quis laudantium tenetur
        qui optio non eaque maiores. Voluptatum sequi eum sunt, in accusantium
        nemo eligendi debitis ipsum maxime praesentium unde magni aperiam quasi
        repudiandae, ut earum. Optio animi ducimus eaque quis ab esse quod rem
        sequi et iusto recusandae odit labore, facere a totam asperiores, eum
        distinctio nisi, enim numquam molestias! Sint tempora ipsum rem
        possimus, quam iure amet, est consequuntur illo ratione itaque enim
        explicabo. A odit voluptate ut saepe tempore deserunt aliquid sapiente,
        nulla minima consequuntur maiores consectetur tempora, tenetur rem omnis
        ad quisquam? Mollitia hic aperiam quibusdam quos omnis, laboriosam
        aliquid necessitatibus nemo sit earum tempora vel ipsum tempore. Modi
        quo odit libero, exercitationem tenetur optio assumenda deserunt, illo
        nulla nihil veniam eaque corrupti ratione quos iure, cumque iste aliquam
        tempore possimus. Laudantium sed natus qui omnis praesentium similique
        saepe, obcaecati ipsam perspiciatis odit assumenda minima, architecto ea
        cupiditate alias, aspernatur minus officia! Nobis nisi officiis,
        suscipit fuga tempora atque blanditiis sed aperiam repellat repellendus
        consequuntur nostrum similique corrupti pariatur ipsa dicta distinctio
        veritatis. Iusto expedita repellendus dolorum maxime, sint doloremque
        molestiae amet nobis provident, harum ut illum tempora impedit
        consequuntur reprehenderit, eligendi modi ducimus similique ea sit
        placeat fugit! Labore corrupti pariatur nisi debitis delectus. Illo
        architecto recusandae nesciunt similique nam possimus sint at suscipit.
        Sed maxime exercitationem provident, repellendus velit consequatur,
        tenetur quas omnis praesentium assumenda laudantium debitis ipsa
        tempora? Veniam saepe ipsam impedit nihil eveniet cupiditate recusandae
        eius laudantium nam ipsa illum rem dolor, dicta voluptatum animi ab
        quisquam facilis blanditiis, et libero quo, minima fuga! Delectus
        maiores blanditiis sunt praesentium non tempore dolores, inventore
        deleniti labore omnis! Illum non, earum quasi rerum laborum quod soluta
        magnam dolorum dolor nihil fugiat ea magni quisquam consequatur
        recusandae unde voluptatibus, provident illo quos qui cupiditate. Maxime
        officiis, praesentium beatae atque ullam obcaecati quos sapiente!
        Cupiditate labore in distinctio molestias qui. Autem odit in tempora
        inventore aut qui! Cum aut voluptatem unde reiciendis ut esse nemo
        quasi. Culpa distinctio adipisci aliquam accusamus, aliquid asperiores
        et, quod fuga quam qui repellendus? Itaque quod saepe ad in aut
        assumenda iure provident odit modi. Aliquam quod iste praesentium
        quaerat similique ipsum at numquam, enim, repellendus deleniti
        laboriosam ratione! Facilis at dolor laborum esse ab labore dignissimos
        necessitatibus ipsam dicta accusantium ad veniam ratione laboriosam
        consectetur aperiam velit voluptates assumenda porro, odio sit. Incidunt
        nesciunt hic earum voluptas facilis possimus quibusdam ipsam, aliquid
        rem sunt tenetur doloribus, facere porro qui? Corrupti nam nihil totam
        vel laudantium reprehenderit tenetur, modi officia molestiae, nobis
        porro commodi nostrum at, aperiam aspernatur sapiente quasi labore.
        Veniam, amet laudantium at, vel numquam dolorum ipsum sed quod,
        obcaecati suscipit consequatur nisi odit enim quasi neque cumque nam qui
        ad architecto doloremque! Officiis obcaecati inventore nemo. Labore,
        commodi. Voluptatibus consectetur aspernatur libero, minus amet laborum
        animi iste ex blanditiis eius mollitia quasi illo quo deserunt ab non,
        enim ut rerum excepturi aperiam. Repellat ad esse, quo at rem laborum
        animi vitae facere aut cupiditate? Maxime tempore explicabo deleniti in
        rerum laboriosam vero atque distinctio temporibus quaerat perferendis
        veritatis, corporis nostrum, repudiandae obcaecati et animi,
        perspiciatis earum dolor. Delectus, quisquam architecto? Cumque ducimus
        placeat accusantium commodi maxime quisquam ex ipsam vitae nemo
        voluptatem. Iste ipsa distinctio est consequuntur, soluta quaerat culpa
        beatae maiores mollitia aut eos suscipit veritatis obcaecati incidunt
        possimus rem magni sunt! Esse mollitia doloremque hic laudantium veniam
        inventore fugit veritatis adipisci est facilis totam voluptates magnam
        necessitatibus explicabo quidem culpa at neque molestiae saepe, nobis
        eius quos amet velit tempore! Modi tenetur saepe architecto repellat,
        officiis est officia.
      </p>
    </main>
    <%-include('templates/footer')-%>
  </body>
</html>
