<footer>
  <h1>This is Footer</h1>
  <ul>
    <li>Toll Free - 6546546546489</li>
    <li>Customer Service - 654651324981651</li>
    <li>About Us</li>
    <li>My Account</li>
    <li>Services</li>
    <li>Social</li>
  </ul>
</footer>
