<header>
  <div>
    <h1>This Is Header</h1>
    <ul>
      <li>
        <a href="http://localhost:5000/home"><button>Home</button></a>
      </li>
      <li>
        <a href="http://localhost:5000/blog"><button>Blog</button></a>
      </li>
      <li>
        <a href="http://localhost:5000/contact"><button>Contacts</button></a>
      </li>
      <li>
        <a href="http://localhost:5000/about"><button>About</button></a>
      </li>
      <li>
        <a href="http://localhost:5000/products"><button>Products</button></a>
      </li>
    </ul>
  </div>
</header>
