<div class="sidebar">
  <h1>This is Sidebar</h1>
  <div>
    <a href="http://localhost:5000/home"><button>Home</button></a>
  </div>
  <div>
    <a href="http://localhost:5000/blog"><button>Blog</button></a>
  </div>
  <div>
    <a href="http://localhost:5000/contact"><button>Contacts</button></a>
  </div>
  <div>
    <a href="http://localhost:5000/about"><button>About</button></a>
  </div>
  <div>
    <a href="http://localhost:5000/products"><button>Products</button></a>
  </div>
</div>
